body {
    background: -webkit-linear-gradient(360deg, #b6eae1 10%, #D2FBAD 360%);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#box {
    border: 3px solid black;
    height: 50vh;
    width: 80%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
}

.btn {
    box-sizing: border-box;
    border: 1px solid black;
    width: auto;
}

.icons {
    max-width: 40%;
    height: auto;
}